---
layout: default.hbs

title: sample
keywords: 'sample1, sample2'
description: 'website'

og_url: 'index.html'

---
<main class="l-main">
  <p>{{ __.section1_text1 }}</p>
  <a href="{{#if lang.en}}../{{else}}en/{{/if}}">{{#if lang.en}}日本語{{else}}英語{{/if}}ページへ</a>
</main>